ChangeLog
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.libpath
build-aux/config.rpath
build-aux/config.sub
build-aux/depcomp
build-aux/gitlog-to-changelog
build-aux/install-reloc
build-aux/install-sh
build-aux/ltmain.sh
build-aux/mdate-sh
build-aux/missing
build-aux/reloc-ldflags
build-aux/snippet/
config.h.in
config.h.in~
configure
gl/
m4/
package.m4
src/ui/gui/artwork/splash-r.svg
src/ui/gui/artwork/splash-t.svg
src/ui/gui/resources.xml
tests/testsuite
tests/testsuite.at
