help-pages-list
ni.texi
pspp*.aux
pspp*.cp
pspp*.cps
pspp*.fn
pspp*.fns
pspp*.ky
pspp*.log
pspp*.pg
pspp*.toc
pspp*.tp
pspp*.tps
pspp*.vr
pspp*.vrs
pspp-dev.info
pspp-dev.info-*
pspp.html
pspp.info
pspp.info-*
pspp.xml
stamp-1
stamp-vti
tut.texi
version-dev.texi
version.texi
